@model Project_BloodDonation.Models.Member

@{

   Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="Donor_sec">
   <h2 class="Donor_details text-center">@Model.FirstName'Information</h2>
<div class="container">
   <main class="main" id="main">
   <div class="row" id="donor_details">
         <div class="col-lg-5 donor_back">
          <div class="Donr_img">
               <img src="@("~/image/"+Model.ImageName)" class="w-100"  asp-append-version="true" alt="Profile"  height="350" width="300px" />
            </div>
            </div>
         <div class="col-lg-7 text-capitalize Donor_inner_back">
            <div class="row">
               <div class="donor_inner">
             <div class="col-lg-12"> 
                <div class="row">
                   <div class="col-lg-8">
                      <level>First Name</level>
                   </div>
                   <div class="col-lg-4">
                           <p>@Model.FirstName</p>
                   </div>
                </div>
                     <div class="row">
                        <div class="col-lg-8">
                           <level>Last Name</level>
                        </div>
                        <div class="col-lg-4">
                           <p>@Model.LastName</p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8">
                           <level>Address</level>
                        </div>
                        <div class="col-lg-4">
                           <p>@Model.Address</p>
                        </div>
                     </div>                            
                     <div class="row">
                        <div class="col-lg-8">
                           <level>Contact</level>
                        </div>
                        <div class="col-lg-4">
                           <p>@Model.Contact</p>
                        </div>
                     </div>
                     @* <h3>Last Donate Date</h3>
                     <p>@Model.FirstName</p>*@
                     <div class="row">
                        <div class="col-lg-8">
                           <level>Age</level>
                        </div>
                        <div class="col-lg-4">
                           <p>@Model.Age</p>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-lg-8">
                           <level>Email</level>
                        </div>
                        <div class="col-lg-4">
                           <p>@Model.Email</p>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-lg-8">
                           <level>Blood Group</level>
                        </div>
                        <div class="col-lg-4">
                           <p>@Model.Bloodgroup.Name</p>
                        </div>
                     </div>
                  </div>           
          </div>
               </div>
            </div>
          @*  <div class="col-lg-1">

            </div>*@
      </div>
      </main>
   </div>

   </section>