@model Project_BloodDonation.Models.Member


<section id="Donor_sec">
<h2 class="Donor_details text-center text-white">Donor Information</h2>
<div class="container">
   <div class="row" id="donor_details">
         <div class="col-lg-4">
          <div class="Donr_img">
               <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" alt="Profile" class="rounded-circle" height="400" width="400px" />
            </div>
            </div>
         <div class="col-lg-8">
            <div class="row">
               <div class="donor_inner text-end text-white">
             <div class="col-lg-6">
                     <h3>First Name</h3>
                     <p>@Model.FirstName</p>
                     <h3>Last Name</h3>
                     <p>@Model.LastName</p>
                     <h3>Address</h3>
                     <p>@Model.Address</p>
                 
             </div>
             <div class="col-lg-6">
                     <h3>Contact No.</h3>
                     <p>@Model.Contact</p>
                     @* <h3>Last Donate Date</h3>
                     <p>@Model.FirstName</p>*@
                     <h3>Age</h3>
                     <p>@Model.Age</p>
             </div>
          </div>
               </div>
            </div>
      </div>
   </div>

   </section>