 @model IEnumerable<Project_BloodDonation.Models.Member>

    @{
   Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
   <h2 class="Avl_Dnr text-center">Available Blood Donor</h2>
@*<div class="container">
   <div class="row" id="Ser_blood">
         @foreach (var item in Model)
         {
      <div class="col-lg-4">
            <div class="Serch_Blood">
                  <h4>@item.FirstName</h4>
                  <h5>@item.Bloodgroup.Name</h5>
                  <a asp-controller="Members" asp-action="Details" asp-route-id="@item.Id">Details</a>
               </div>
            </div>
         }
      </div>
   </div>*@

@*<div class="card" style="width: 18rem;">
   <img src="..." class="card-img-top" alt="...">
   <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
</div>*@

<div class="container">
    
   <div class="row">     
      <div class="col-lg-12">
         <main id="main" class="main">
      <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>                                          
                                            <th scope="col">Image</th>
                                             <th scope="col">@Html.DisplayNameFor(model=> model.FirstName)</th>
                                               <th scope="col">@Html.DisplayNameFor(model=> model.Bloodgroup.Name)</th>
                                                 <th scope="col">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                       @foreach(var item in Model)
                                       {
                                        <tr>                                          
                                 <td>
                                 <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="80px" height="80px" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem=> item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem=> item.Bloodgroup.Name)</td>
                                    <td><a class="btn btn-success" asp-controller="Members" asp-action="DonorDetails" asp-route-id="@item.Id">Details</a></td>
                                        </tr>
                                        
                                        }
                                    </tbody>
                                </table>
    </main
      </div>       
   </div> 
</div>