 @model IEnumerable<Project_BloodDonation.Models.Member>
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet" />


   <h2 class="Avl_Dnr text-center">Available Blood Donor</h2>
<div class="container">    
   <div class="row justify-content-end">     
      <div class="col-lg-12">
        @* <main id="main" class="main">*@
      <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>                                          
                                            <th scope="col">Image</th>
                                             <th scope="col">@Html.DisplayNameFor(model=> model.FirstName)</th>
                                               <th scope="col">@Html.DisplayNameFor(model=> model.Bloodgroup.Name)</th>
                                                 <th scope="col">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                       @foreach(var item in Model)
                                       {
                                        <tr>                                          
                                 <td>
                                 <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="80px" height="80px" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem=> item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem=> item.Bloodgroup.Name)</td>
                     @*<td><a href="~/Identity/Account/Register/@item.Id?role=General Member" class="btn btn-success" asp-controller="Members" asp-action="DonorDetails" asp-route-id="@item.Id">Details</a></td>*@
                     <td><a href="~/Members/DonorDetails/@item.Id?role=General Member" class="btn btn-success">Details</a></td>
                                        </tr>
                                        
                                        }
                                    </tbody>
                                </table>
@*    </main*@
      </div>     
      


   </div>
   </div>
         <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

   <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simple-datatables/simple-datatables.js"></script>   
     <script src="~/js/main.js" asp-append-version="true"></script>



