@model Project_BloodDonation.Models.BloodDonationDtls

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BloodDonationDtls</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecieverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecieverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonateQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonateQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donateplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donateplace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
